{% extends '::base.html.twig' %}
{% block body %}
    <div style="padding: 15px 15px;">
        <div class="container">
            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="row" style="margin-bottom: 15px">
                <a href="#" class="btn btn-primary btn-lg btn-block">Kona</a>
            </div>
            <div class="row" style="margin-bottom: 15px">
                <button type="button" class="btn btn-primary btn-lg btn-block">Colombian</button>
            </div>
            <div class="row" style="margin-bottom: 15px">
                <button type="button" class="btn btn-primary btn-lg btn-block">French Vanilla</button>
            </div>
        </div>
    </div>
{% endblock %}
